@import "./colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');




:root{
    body{

        position: relative;
    }

    p{
        font-family: 'Archivo', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'TT Rounds Neue',  ;
        font-weight: 700 ;
    }
    
    h1 {
        font-size: 5.5rem;
    }
    
    h2 {
        font-weight: 700;
        font-size: 3.3rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    @media (max-width: 600px) {
        h1 {
          font-size: 3.5rem; /* Taille plus petite pour les écrans mobiles */
        }

        h2 {
          font-size: 2rem; /* Taille plus petite pour les écrans mobiles */
        }

        h3 {
          font-size: 1.5rem; /* Taille plus petite pour les écrans mobiles */
        }

        h4 {
          font-size: 1rem; /* Taille plus petite pour les écrans mobiles */
        }
      }

}
    
